@model IEnumerable<PISprojekat.Models.Incident>

@{
    ViewBag.Title = "Index";
}

<h2>Incident Manager</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Describe)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IncidentStatus.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Priority.PriorityType)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Describe)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreateTime)
        </td>
        <td style="border: 2px solid red" >
            @Html.DisplayFor(modelItem => item.IncidentStatus.Status)
        </td>
        <td style="border: 2px solid red" >
            @Html.DisplayFor(modelItem => item.Priority.PriorityType)
        </td>
        <td>
            @Html.ActionLink("Messages", "Index", "Messages1") |
            @Html.ActionLink("Edit", "Edit") |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
