@model IEnumerable<PISprojekat.Models.Asset>

@{
    ViewBag.Title = "Index";
}
<div class="container">

    <h2>Assets</h2>
    <div style="float:right">
        @Html.ActionLink("Logout", "Index", "Home")
    </div>
</div>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            AssetType
        </th>
        <th>
            Category
        </th>
        <th>
            Department
        </th>
        <th>
            Status
        </th>
        <th>
            ModelName
        </th>
        <th>
            Model
        </th>
        <th>
            Vendor
        </th>
        <th>
            SerialNo
        </th>
        <th>
            Price
        </th>
        <th>
            PurchaseDate
        </th>
        <th>
            NextMaintDate
        </th>
        <th>
            Owner
        </th>
        <th>
            Parent
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AssetType.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Department.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Model)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vendor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SerialNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PurchaseDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NextMaintenanceDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Owner)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Parrent)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}
</table>
<div class="container">
    <li>@Html.ActionLink("Types", "Index", "AssetTypes")</li>
    <li>@Html.ActionLink("Categories", "Index", "Categories")</li>
    <li>@Html.ActionLink("Departments", "Index", "Departments")</li>
    <li>@Html.ActionLink("Status", "Index", "Status")</li>
</div>

<div>
    <br />
    @Html.ActionLink("Back to main menu", "About", "Home")
</div>
