@{
    ViewBag.Title = "Welcome admin";
}
<h2>@ViewBag.Title.</h2>
<h3>Choose want you want to do</h3>

<li>@Html.ActionLink("Asset Manager", "Index", "Assets")</li>
<li>@Html.ActionLink("Report the Incident Manager", "Index", "Incidents")</li>
<li>@Html.ActionLink("Solve the Incident Manager", "Index", "IncidentManager")</li>
<li>@Html.ActionLink("User Manager", "Index", "Employees")</li>
<li>@Html.ActionLink("User Types", "Index", "EmployeeTypes")</li>